body {
    background: aquamarine;
}

h1 {
    color: purple;
    font-family: Arial;
}

.error {
    color: red;
    font-weight: bold;
}

.info {
    color: green;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-family: "Andale Mono";
}

