<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
    <h1>Hello World!</h1>
    {% for each in crime %}
    <div class="card" style="width: 10%;" >
  <img src={{crime[each]}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{each}}</h5>
    <p class="card-text">{{cr[each]}}.</p>
      <p class="card-text">{{crim[each]}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    {% endfor %}
    </body>
    </html>

{% endblock %}