{% extends 'base.html' %}

{% block content %}
    <h2>Hello {{ session['username'] }}</h2>

    {% for each in bookPhoto %}
    <div class="card" style="width: 10%;" >
  <img src={{bookPhoto[each]}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{each}}</h5>
    <p class="card-text">{{bookAuthor[each]}}.</p>
      <p class="card-text">{{bookRating[each]}}</p>
  </div>
</div>
    {% endfor %}
    </body>
    </html>

<a href="{{url_for('logout')}}"> Log out </a>
{% endblock %}


