{% extends 'base.html' %}

{% block content %}
    <a href="{{url_for('logout')}}"> Log out </a>
    <br><br>
    {% for each in bookPhoto %}
        <br>

        <div class="card mb-3" style="max-width: 33%; margin-left: 2%">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{bookPhoto[each]}}" class="img-fluid rounded-start" alt="..." width="400" height="200">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 style="font-family: 'Arial'" class="card-title"><b>{{each}}</b></h5><br>
                <p style="font-family: 'Andale Mono'" class="card-text">{{bookAuthor[each]}}</p><br>
                <p style="font-family: C059" class="card-text"><small class="text-muted">Rating {{bookRating[each]}}</small></p>
              </div>
            </div>
          </div>
        </div>


    {% endfor %}

{% endblock %}



